*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color--white: #ffffff;
  --color--btn: grey;
}

.first {
  display: flex;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.second {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.nstu {
  font-family: Verdana;
  font-weight: 100;
  color: white;
}
.info ul {
  display: flex;
  justify-content: space-between;
  font-family: Times New Roman;
  color: white;
  text-align: center;
}
.info ul li {
  padding: 15px;
}
#nstuimage {
  width: 10%;
  height: auto;
}
.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-option {
  padding: 1em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: max-content;
}

.nav-item:hover {
  background-color: var(--color--btn);
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-menu {
  display: none;
  background-color: rgb(30, 30, 32);
  position: absolute;
}

.level-1 {
  top: 100%;
}

.level-2 {
  right: 100%;
}

.nav-option:hover > .sub-menu {
  display: block;
}

.item-lvl-1::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f107";
}
.introduction {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 3rem;
}
.underline {
  display: flex;
  flex-direction: row;
}
.underline1 {
  background-color: blue;
  height: 10px;
  width: 222px;
  margin-left: 15px;
}
.underline2 {
  background-color: red;
  height: 10px;
  width: 222px;
}
.intro-content {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 20px;
  font-size: 1.3rem;
  text-align: justify;
}
.overview {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 2.5rem;
}

.intro-content-overview {
  margin-top: 05px;
  margin-left: 15px;
  margin-right: 20px;
  font-size: 1.3rem;
  text-align: justify;
}
.copyright-part {
  background-color: blue;
  height: 30px;
  width: auto;
  margin-top: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
